<a href="https://colab.research.google.com/github/SupawadeeKhamthuy/multivariate/blob/main/Chapter6_Cluster_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## จุดมุ่งหมายในการทำ Cluster Analysis คือ การจัดกลุ่มข้อมูลโดยดูจาก attibutes ของข้อมูล

In [1]:
import pandas as pd

ตัด column สุดท้ายที่เป็น class

In [3]:
example_df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/iris.csv')
example_df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

ตัด column สุดท้ายที่เป็น class ของข้อมูลออก

## **Kmean**

### import

In [ ]:
from sklearn.cluster import Kmeans

### Define

In [ ]:
kmeans = Kmeans(random_state=2021) #เริ่มสุ่มที่จุดเดียวกัน

Fit-Transform

คำนวณหาจุด cluster centers ของข้อมูล example_df_drop ด้วยวิธี K-means clustering

In [ ]:
kmeans.fit(example_df_drop)

แสดงจุด cluster centers ที่คำนวณออกมาได้

In [ ]:
kmeans.cluster_centers_

ทดสอบการจักกลุ่มของ Data

In [ ]:
y = kmeans.predict(example_df_drop)
y

Qiuz 6 ทำ PCA ข้อมูล example_df_drop แล้ว วาดกราฟ scatter plot โดยใส่สีตามผลการทำ kmeans clustering แล้วนำมาเทียบกับกราฟ PCA-scatter ของข้อมูลจริง